* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #8f9ad4;
}
.board1 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    height: 700px;
    width: 680px;
    background-color: gray;
    border-radius: 1.1rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.box {
    height: 11.25%;
    width: 11.25%;
    border: 1px solid black;
    margin:  0 2px 0 2px;
    border-radius: 5px;
}
.box:hover {
    background-color: aliceblue;
}

.Titan ,.Tank , .Cannon{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
.Ricochets{
    width: 100%; /* Set desired width */
  height: 100%; /* Set desired height */
  background-image:
    linear-gradient(to bottom left, transparent 50%, red 50%),
    linear-gradient(to top right, red 50%, transparent 50%);
  /* background-repeat: no-repeat; */
}

.active{
    border: 2px solid white;
}