* {
    margin: 0;
    padding: 0;
}

body{
  height: 100vh;
    background-color: #8f9ad4;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0fd 100%);
}

@media (max-width: 576px) {
  body{
    width: 140vw;
    background-image: linear-gradient(to bottom, #fbc2eb 10%, #a6c0fd 90%);
  height: 155vh;
  }
}

nav{
height: 60px;
width: 100vw;
background-color: rgb(60, 74, 89);
margin-bottom: 0.2rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.three_lines{
  height: 40px;
  width: 40px;
  display: table-column;
  justify-content:center;
  /* width: auto; */
  align-content: center;
  /* padding-left: ; */
  border-radius: 50%;
  /* background-color: aqua; */
  margin-left: 20px;
  position: relative ;
}
.three_lines:hover{
  background-color: slategray;
  cursor: pointer;
}

.slide{
  margin-top: 50%;
  margin-left: -740%;
  position: absolute;
  height: 710px;
  width: 20vw;
  display: none;
  background-color: azure;
  z-index: 2;
}
.line{
  height: 4px;
  width: 25px;
  margin: 2px 2px 2px 7px ;
  border: 1px solid black;
  background-color: aliceblue;
  border-radius: 0.5rem;
}
.stat{
  display: flex;
}
.status{
  height: 50px;
  width: 80px;
  font-weight:  800;
  color: white;
  font-size: larger;
  align-content: center;
  position: relative;
}
.space{
  font-size: large;
  height: 40px;
  width: 60px;
  font-weight: 500;
  color:aqua;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 1rem;
  position: relative;
}


.board{
    height: 680px;
    width: 680px;
    /* background-color: gray; */
    border-radius: 1.1rem;
    border: 2px solid #690884;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #a5bef1 0%, #bbc9c9 100%);
}
@media (max-width: 576px) {
  .board{
    background: linear-gradient(to bottom, #83a5e8 0%, #add1d1 100%);
  }
}

.box {
    height: 11.25%;
    width: 11.25%;
    border: 1px solid black;
    margin:  0 2px 0 2px;
    border-radius: 5px;
}
.box:hover {
    background-color: aliceblue;
}

.Titan ,.Tank , .Cannon{
    height: 100%;
    width: 100%;
    background-color: aqua;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 2px rgba(40, 50, 138, 0.37);
}
/* .Titan img{
  width: 10%;
  height: 10%;
  object-fit: cover;
  
} */
/* .Tank img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 10px 5px white);
} */
/* .Cannon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 10px 5px white);
  transform: rotate(-88deg);
}
.Cannon_blue{
  transform: rotate(178deg);

} */
.Ricochets , .SemiRicochets{
    width: 100%; 
  height: 100%;
  font-size: 10px; 
  /* transform: rotate(45deg); */
  /* box-shadow: 5px 5px 2px rgba(40, 50, 138, 0.37); */
    border-radius: 5px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    border-radius: 4px;
 
}
.SemiRicochets{
  background-image: 
  linear-gradient(to bottom left, transparent 45%, white 45%, white 55%, transparent 0%);
  filter: drop-shadow(2px 1px 8px black);
}

.Ricochets{
  filter: drop-shadow(2px 1px 5px black);
  background-image: 
linear-gradient(to top right, red 50% , transparent 0%);
}

.active{
    border: 2px solid white;
}

.rotate {
  z-index: 1;
    height: 75px;
    width: 150px;
    margin-top: 35%;             
    margin-left: 530%;
    border: 2px solid black;
    background-color: rgb(85, 180, 180);
    display: none;
    position: absolute;
    border-radius: 0.4rem;
}
.rot1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border-radius: 2rem; */
}

.left , .right {
    height: 80%;
    width: 45%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%; 
    position: absolute;
    z-index: 1; 
  }


  .detector{
      width: 2px;
      height: 50px;
      position: absolute;
      border: 2px solid rgb(110, 110, 138);
      visibility: hidden;
      
    }

  #left{
    margin-left: -80%;
    margin-top: 6px;
    /* display: none; */
  }  
  #right{
    /* border: 2px solid blue; */
    margin-left: 85%;
    margin-top:6px;
  }

  #top{
    width: 50px;
      height: 2px;
      margin-left: 5px;
    margin-top:-83%;
  }
  #bottom{
    width: 50px;
      height: 2px;
      margin-left: 5px;

    /* border: 2px solid blue; */
    margin-top: 88%;
  }

  .reset, .pause ,.undo , .redo{
    height: 50px;
    width: 100px;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(25,34,42);
    font-weight: 900;
    font-size: x-large;
    backdrop-filter: blur(30px);
    box-shadow: 5px 10px 5px rgba(40, 50, 138, 0.37);
    background-color: linear-gradient(to top, #62124b 0%, #510cb2 10000%);
    border: 2px solid rgba(136, 103, 212, 0.8);
  }
  .reset:hover , .pause:hover , .undo:hover , .redo:hover{
    cursor: pointer;
  }
  
  .clock{
    height: 150px;
    width: 150px;
    margin-left: 80px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 100px;
    border: 4px solid white;
    /* border: 2px solid white; */

  }

  .timeleft{
    margin-left: 100px;
    height: 40px;
    width: 120px;
    margin-bottom: 5px;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rgb(42, 47, 53);
    border: 2px solid wheat;
  }

  

  @media(max-width: 576px){
    nav{
      width: 166vw;;
    }
    
    .functions{
      padding-top: 20px;
      width: 300px;
      height: 400px;
      margin-left: 185px;
      margin-top: 50px;
      border: 2px solid rgb(45, 153, 190);
      border-radius: 1rem;
      backdrop-filter: blur(50px);
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0fd 100%);

    }
    .buttns{
      flex-wrap: wrap;
    }
    .board1 {
      /* margin-top: 60px; */
      /* display: flex; */
      justify-content: space-evenly;
      align-items: center;
  }
    
  .buttns{
    margin-top: -100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
  }
  .reset, .pause , .undo , .redo{
/* margin-top: 5px; */
margin-right: 20px;
margin-left: 20px;
margin-bottom: 10px;
  }
  }

  @media (min-width: 576px) {
    .board1 {
      /* margin-top: 60px; */
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  } 
  .display{
    position: relative;
    height: 500px;
    width: 350px;
    border: 2px solid black;
    border-radius: 1rem;
    backdrop-filter: blur(50px);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0fd 100%);
    overflow: auto;
    scrollbar-width: thin;
    border: 2px solid rgb(45, 153, 190);
  }
  .functions{
    padding: 1px 0px 25px 25px;
    width: 350px;
    display: table-column;
    justify-content: center;
    border: 2px solid rgb(45, 153, 190);
    align-self: center;
    border-radius: 1rem;
    backdrop-filter: blur(50px);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0fd 100%);
  }
  .buttns{
    display: flex;
    margin-top: -20px;
    margin-bottom: 20px;
    /* margin-left: -50px; */
    /* justify-content: space-around; */
    flex-wrap: wrap;
    width: fit-content;
    
  }
  .reset, .pause , .undo , .redo{
    /* margin-left: 200px; */
margin-top: 50px;
margin-right: 50px;
margin-left: 20px;
    /* margin: 20px; */
    
  }
}

.end{
  margin: 10px;
  height: 80%;
  padding-left: 10px;
  width: auto;
  color: aliceblue;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid wheat;
}

.div1,.div2,.div3,.div4{
  height: 35%;
  width: 35%;
  background-color: green;
  position: absolute;
}
.div1{
  margin-top: 150%;
}
.div2{
  margin-bottom: 150%;
}
.div3{
  margin-left: 150%;
}
.div4{
  margin-right: 150%;
}
/* .undo,.redo{
  height: 60%;
  width: 50px;
  border: 2px solid white;
  text-align: center;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .Ur{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
} */

.d1 {
  margin-left: 5px;
  height: 10%;
  width: 96%;
  border-bottom: 1px solid rgb(45, 153, 190);
  display: flex;
  border-radius: 0.2rem;
}
.d2{
  width: 40%;
  color: rgb(125, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.d3{
  width: 30%;
  color: #62124b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d4{
  width: 30%;
  color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history{
  /* z-index: 3; */
  position: absolute;
  height: 50px;
  width: 100px;
  /* border: 2px solid black; */
  margin-top: 65px;
  margin-left: -520px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: black;
}
.direct1{
  margin: 10px 20px 40px 5px ;
  height: 50px;
  width: 90%;
}

.direct2{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid purple;
  border-radius: 1rem;
  padding-bottom: 15px;
  padding-right: 2px;

}
.directMove{
  
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  margin-right: 30px;
  /* margin-left: -70px; */
}
.span{
  position: absolute;
  margin-left: 30px;
  color: black;
  font-weight: 600;
  /* width: 80px; */
}
.directMove:hover{
  cursor: pointer;
}
.span1{
  margin: 80px;
  font-weight: 600;
}
